/*1*/
body {
  font-family: Arial, sans-serif;
}
.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}
.hero-text {
  max-width: 50%;
  text-align: left;
}
.hero-text h1 {
  font-weight: bold;
}
.hero-image {
  max-width: 50%;
  text-align: right;
}
.hero-image img {
  max-width: 100%;
  height: auto;
}
.features {
  display: flex;
  justify-content: space-around;
  text-align: left;
  margin-top: 10px;
}
.feature-Coachcard{

  margin-right: -190px;
}
.features div {
  max-width: 30%;
}
.chatbot-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: -250px;
  background-color: #333;
  padding-top: 20px;
  transition: 0.3s;
  color: white;
}
.overlay {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba#6b859a;
display: none;
z-index: 998;
}

.sidebar {
z-index: 999;
}

.sidebar a {
  padding: 10px 15px;
  display: block;
  color: white;
  text-decoration: none;
}
.sidebar a:hover {
  background-color: #575757;
}
.menu-btn {
  font-size: 30px;
  cursor: pointer;
}


/*2*/
/* From Uiverse.io by cssbuttons-io */ 
.c-button {
  color: #000;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  padding: 0.9em 1.6em;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 1;
}

.c-button--gooey {
  color: #6b859a;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 4px solid #6b859a;
  border-radius: 0;
  position: relative;
  transition: all 700ms ease;
}

.c-button--gooey .c-button__blobs {
  height: 100%;
  filter: url(#goo);
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: -3px;
  right: -1px;
  z-index: -1;
}

.c-button--gooey .c-button__blobs div {
  background-color: #6b859a;
  width: 34%;
  height: 100%;
  border-radius: 100%;
  position: absolute;
  transform: scale(1.4) translateY(125%) translateZ(0);
  transition: all 700ms ease;
}

.c-button--gooey .c-button__blobs div:nth-child(1) {
  left: -5%;
}

.c-button--gooey .c-button__blobs div:nth-child(2) {
  left: 30%;
  transition-delay: 60ms;
}

.c-button--gooey .c-button__blobs div:nth-child(3) {
  left: 66%;
  transition-delay: 25ms;
}

.c-button--gooey:hover {
  color: #fff;
}

.c-button--gooey:hover .c-button__blobs div {
  transform: scale(1.4) translateY(0) translateZ(0);
}